.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.form-control {
    display: block;
    width: 43%;
}

.btn-color[_ngcontent-c1] {
    background-color: cyan;
}
