<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark cyan scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" href="#"><strong>Get Repe Search Filter</strong></a>
      </mdb-navbar-brand>
  </mdb-navbar>
  <!-- Main -->
  <div>
    <div class="md-form mt-0">
  
</div>
</div>
  <!-- /.Main -->
</header>
<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <form class="form-inline mr-auto">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              <button type="button" mdbBtn color="info" mdbWavesEffect>Info</button>
            </form>
          </div>
      </div>
  </div>

</main>
<!--Main Layout-->